* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

.main__body {
  background: url("https://bangladesh.gov.bd/themes/responsive_npf/images/bg_main.gif")
    center;
  height: 100vh;
  overflow: scroll;
}
.cont {
  max-width: 1000px;
  margin: 0 auto;
  box-sizing: border-box;
}

.top__nav {
  background-color: #af00bf;
}

.nav {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #aaa;
}

.nav button {
  background-color: #8b8b8b;
  border: 1px solid #aaa;
  color: #ccc;
  border-radius: 3px;
  padding: 5px;
}

.nav-item:hover {
  /* background-color: red; */
  color: white !important;
}

.banner__image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border: 2px solid red;
  padding: 5px;
}

.ca__image {
  height: 300px;
}
.tab__images {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.tab__images img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.enterpre__text {
  color: #7928c4;
  font-weight: bolder;
  padding: 10px;
}

.ul__list {
  list-style: none;
}
.ul__list li {
  border-bottom: 1px solid rgb(156, 234, 156);
  padding: 10px;
  cursor: pointer;
}
.ul__list li:hover {
  color: green;
}

.right__images {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.right__images img {
  height: 100px;
  width: 100%;
  object-fit: cover;
}
.header__text {
  background-color: green;
  padding: 10px;
  color: white;
  font-size: 18px;
}

#dengu__image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.dengu__text {
  color: purple;
}

.footer__top {
  display: flex;
  align-items: center;
}

.footer__item {
  padding-left: 10px;
  padding-right: 10px;
  border-right: 1px solid #b6b6b6;
  cursor: pointer;
}
.footer__item:hover {
  text-decoration: underline;
}

.footer_bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
